*{
    box-sizing: border-box;
}
/* section, div{
    border: 2px solid cyan;

} */
body{
    margin: 0;
}
.pre-first{
    background-image: url(./images/image-hero-mobile.jpg);
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;
    height: 30vh;
    margin: 0;
    
}
.mobile-nav > ul{
    display: none;
}
.mobile-nav{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}
.logo-two{
    position: relative;
    top: -45px;
    width: 25%;
}
.first-one{
    width: 85%;
    position: relative;
    top: -15px;
    border: 0.1px solid rgba(218, 215, 215, 0.815);
    background-color: white;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    padding: 2em;

}
.first{
    position: relative;
    text-align: center;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.first > .first-one > h1{
    margin-top: -30px;
 
}
button{
    padding: .5em;
    border-radius: 2em;
    border: none;
    background-color: hsl(176, 50%, 47%);
    color: white;
   
}
.book{
    display: flex;
    justify-content: space-evenly;

}
.project{
    width: 150px;
    margin: 0;
}
.project:hover{
    background-color: hsl(176, 72%, 28%);
    cursor: pointer;
        
}
.bookmark{
    width: 15%;
    height: 15%;
}
.second{
    height: 36vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
i{
    font-style: normal;
}
span{
    position: relative;
    top: -10px;
    font-size: 32px;
    font-weight: bold;
}
.range{
 
    display: flex;
    flex-direction: column;
}
.normal{
    border-radius: 1em;
    position: absolute;
    height: 4vw;
    width: 80%;
  margin-left: 2em;
background-color: rgba(214, 214, 214, 0.5);
    justify-content: center;
 
}
.cyaned{
    border-radius: 1em;
    position: absolute;
    height: 4vw;
    width: 57%;
    background-color: hsl(176, 72%, 28%);
    margin-left: 2em;
}

hr{
    width: 30%;
}
.third{
position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
}

.third-part{
    padding: 2em 1.5em;
    border: 0.1px solid rgba(218, 215, 215, 0.815);
    border-radius: .5em;
}
.fourth, .fifth{
    border: .1px solid gray;
    padding: 1em;
    border-radius: .75em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}
div > button{
    width: 40%;
    margin-top: 1.5em;
    padding: 1em;
}
.sixth{
    border: none;
}
.sixth > div{
    border-radius: .75em;
    border: .1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.left > span{
top: 0;
font-size: 18px;
font-weight: 800;
}
.pledge{
    color: hsl(176, 50%, 47%);
}
.modal-container{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.modal{
width: 80%;
/* border: 2px solid red; */
     border-radius: 10px;
    position: absolute;
    top: 20%;
    background-color: white;
    z-index: 1;
    border: 2px solid gray;

}
.modal > h3, .modal > p{
    text-align: left;
    margin: 1em;
}
.modal > div > p, .modal > div > h5, .m{
   padding: 1em; 
}
h5{
        margin: 1em;
}
.modal-thanks, .modal-pledge{
    display: none;
}
.modal > div > p, .modal > p{
    color: gray;
    margin: 0;

}
.modal > p{
    margin: 15px;
    line-height:25px;

}
.modal > h3{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.active{
    border: 2px solid darkcyan;
}
.head{
font-weight: 800;
}
/* .overlay{
    display: ;
} */
.modal-show{
    display: flex;
}

.modal > div{
    text-align: left;
    padding: 1em;
    border-radius: .25em;
    margin-bottom: 1em;

}
/* radio button styling*/

input[type = 'radio']{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: .5px solid darkcyan;
    border-radius: 50%;
    
    outline: none;

}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background:darkcyan;
  }
  
  input[type='radio']:checked:before .modal-div {
  border: .5px solid darkcyan;

  }
  
  
  .overlay {
    position: absolute;
    display: none;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 2;
    cursor: pointer;
  }
