/* GOD HELP ME */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
em {
  font-style: normal;
}
.menu-list > li{
  font-weight: 700;
}
body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
}
.pre-first {
  background-image: url(./images/image-hero-mobile.jpg);
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 0;
}
.mobile-nav > ul {
  display: none;
  background-color: white;

  border-radius: 10px;
  width: 80%;
  list-style: none;
  position: absolute;
  top: 5%;
  padding: 0;
  text-align: left;
  z-index: 2;
}
.mobile-nav > ul > li {
  padding: 1em;
}
.mobile-nav {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}
.desktop-nav {
  display: none;
}
.logo-two {
  position: relative;
  top: -45px;
  width: 25%;
}
.hamburg,
.cancel-menu {
  width: 7%;
  position: relative;
  z-index: 2;
}
.first-one {

  width: 85%;
display: flex;
flex-direction: column;
align-items: center;
  border: 0.1px solid rgba(218, 215, 215, 0.815);
  background-color: white;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  padding: 2em;
}
.contain {
  display: flex;
  flex-direction: column;
}
.contain > .reward-btn {
  width: 50%;
  cursor: pointer;
}
 .reward-btn:hover{
  transition: ease-in-out .3s;
  background-color: hsl(176, 72%, 28%);

}
.first {
  position: relative;
  text-align: center;
  top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.first > .first-one > h1 {
  margin-top: -30px;
}
button {
  padding: 0.5em;
  border-radius: 2em;
  border: none;
  background-color: hsl(176, 50%, 47%);
  color: white;
}
.book {
  display: flex;
  justify-content: space-evenly;
}
.border-bk {
  border: 2px solid hsl(176, 72%, 28%);
  border-radius: 50%;
}
.project {
  width: 150px;
  margin: 0;
}
.project:hover {
  background-color: hsl(176, 72%, 28%);
  cursor: pointer;
  transition: ease-in-out .3s;
}
.bookmark {
  width: 50px;
  height: 50px;
}
.second {
  height: 36vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
i {
  font-style: normal;
}
span {
  position: relative;
  top: -10px;
  font-size: 32px;
  font-weight: bold;
}
.range {
  display: flex;
  flex-direction: column;
}
.normal {
  border-radius: 1em;
  position: absolute;
  height: 4vw;
  width: 80%;
  margin-left: 2em;
  background-color: rgba(214, 214, 214, 0.5);
  justify-content: center;
}
.cyaned {
  border-radius: 1em;
  position: absolute;
  height: 4vw;
  width: 57%;
  background-color: hsl(176, 72%, 28%);
  margin-left: 2em;
}

hr {
  width: 100%;
  color: lightgray;
}
.third {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}

.third-part {
  padding: 2em 1.5em;
  border: 0.1px solid rgba(218, 215, 215, 0.815);
  border-radius: 0.5em;
}
.fourth,
.fifth {
  border: 0.1px solid gray;
  padding: 1em;
  border-radius: 0.75em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
div > button {
  /* width: 40%; */
  margin-top: 1.5em;
  padding: 1em;
}
.sixth {
  border: none;
}
.sixth > div {
  border-radius: 0.75em;
  border: 0.1px solid gray;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.left > span {
  top: 0;
  font-size: 18px;
  font-weight: 800;
}
.pledge {
  color: hsl(176, 50%, 47%);
}
.result {
  display: block;
  background-color: gray;
}
.modal-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal {
  display: none;
  width: 80%;
  padding: 1.3em;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  background-color: white;
  z-index: 1;
  border: 2px solid gray;
}
.modal-contents > p{
  padding: 1em;
  margin: 0;
}
.modal > h3,
.modal > p {
  text-align: left;
  margin: 1em;
}
.modal > div > p
 {
  padding: 1em;
}
.modal-div {
  border: 0.5px solid lightgray;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightgray;
}
.modal-div:hover {
  border: 0.5px solid hsl(176, 72%, 28%);
}

h5 {
  margin: 1em;
color: hsl(176, 72%, 28%);
}

.modal-pledge {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 96%;
}
.seperate {
  display: flex;
  justify-content: space-around;
}
.seperate > input,
.seperate > button {
  width: 45%;
  margin: 0;
}
.seperate > input
{
  border-radius: 25px;
  padding: .5em;
  position: relative;
}.modal-pledge > input {
  text-align: center;
  width: 60%;
  border: 0.5px solid gray;
  border-radius: 40px;
}
h4 {
  grid-column: 1 / span 6;
}
.modal-thanks,
.modal-pledge {
  display: none;
}

.modal > div > p,
.modal > p {
  color: gray;
  margin: 0;
}
.modal > p {
  margin: 15px;
  line-height: 25px;
}
.pledge-btn {
  cursor: pointer;
}
.modal > h3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.active {
  border: 2px solid hsl(176, 72%, 28%);
}
.head {
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.remove {
  display: none;
}

.head > div {
  display: flex;
}
.fifth-header{
  margin: 1em 0;
  
}
.modal-show {
  display: flex;
}
.modal-thanks {
  border: 2px solid green; /* display: flex !important; */
  /* width: 100%;
  */
  background: transparent;
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thanks {
  display: none;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: white;
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 2em;
}
.modal > div {
  text-align: left;
  padding: 1em;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
/* radio button styling*/

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 0.5px solid lightgray;
  border-radius: 50%;

  outline: none;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: hsl(176, 72%, 28%);
}

input[type="radio"]:checked:before .modal-div {
  border: 0.5px solid hsl(176, 72%, 28%);
}
.radio{
  display: flex;
  justify-content: center;
  margin-right: .55em;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
.overlaid {
  opacity: 0.5;
}
.top{
  display: none;
}
@media screen and (min-width: 650px) {
  .mobile-nav {
    display: none;
  }
  .top{
    display: block;
  }
  .desktop-nav {
    display: flex;
width: 100%;
    align-items: center;

    justify-content: space-around;
  }
  .desktop-nav > ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
  }
  .menu-list > li{
    color: white;
    cursor: pointer;

  }
  .menu-list > li:hover{
    font-size: 1.1em;
    transition: ease-in-out .3s;
  }
  .desktop-nav > ul > li {
    list-style: none;
  }
  .pre-first {
    display: none;
  }
  .desktop-first {
    background-image: url(./images/image-hero-desktop.jpg);

    height: 25vh;
  }
  .logo-two {
    width: 100px;
  }
  .desktop-nav > .menu-list {
    display: flex;

    justify-content: space-between;
  }
 .bamboo{
  display: flex;
 }
 .bamboo > h5{
  margin: 0 1em;
 }
 .tag-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
 .top > span{
  top: 0;
 }
  .second > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
  }
  .second {
    text-align: start;
    z-index: 1;
    height: 100%;
  }
  .second > div > hr {
    display: none;
  }
  .contain {
    display: flex;
    justify-content: space-between;
  }
  .contain > .reward-btn {
    width: 33.33%;
}

.left{
  display: none;
}

  h4 {
    margin: 0;
  }
  .motion {
    padding: 2.5em;
  }
  div > button {
    margin-top: 0;
  }
  em {
    font-style: normal;
  }
  .main-co {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container-contents {
    max-width: 60%;
  }
  p {
    line-height: 1.5em;
  }
  .contain{
    flex-direction: row;
  }
  .overlaid {
    opacity: 0.5;
  }
  .OOS {
    background-color: gray;
  }
  .range {
    position: relative;
  }
  .cyaned,
  .normal {
    height: 1vh;

    margin: 0;
  }
  .normal {
    width: 83%;
  }
  .modal{
    width: 60%;
    padding: 3em;
  }
  .modal-pledge {
    display: none;
    justify-content: space-between;
  }
  .modal-pledge > input {
    text-align: center;
    width: 10%;
  }
  .last {
    opacity: 0.5;
  }
  .seperate {
    width: 25%;
    display: flex;
    justify-content: space-around;
  }
  .seperate > input {
    text-align: center;
    margin: 0.3em;
    border-radius: 20px;
    padding: 0.75em;
    width: 90px;
    border: 0.5px solid gray;
  }
}
